SERVER = 'http://api.cn.faceplusplus.com/'
# uncomment the following line to switch to US server
# SERVER = 'http://api.us.faceplusplus.com/'

API_KEY = '<your API key here>'
API_SECRET = '<your API secret here>'
